<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="http://github.com/mefellows/linkedin2resume-generator">About</a></li>
  </ul>
  <h1 class="text-muted">Linkedin2Resume App</h1>
</div>

<div class="jumbotron">
  <h2>Enter your website</h2 >
  <input ng-model="website" />
  <p><a class="btn btn-lg btn-success" ng-click='generateLinkedin2Resume(website)'>Search<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h3 ng-model="message">{{message}}</h3>
  </table>
</div>


<div class="footer">
  <p>Built with <span class="glyphicon glyphicon-heart"></span> by <a href="http://www.onegeek.com.au">Matt Fellows</a></p>
</div>
