<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="http://github.com/mefellows/linkedin2cv">About</a></li>
    <% if login?%><li><a ng-href="/auth/logout">Logout</a></li><% end %>
  </ul>
  <h1 class="text-muted">Linkedin 2 CV</h1>
</div>

<div class="jumbotron">
  <h2>Login to LinkedIn to get your CV</h2 >
  <p><a class="btn btn-lg btn-success" >Login<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <p><a href="/api/cv/#{session[:atoken]}?access_token=#{session[:atoken]}">Download CV</a></p>
</div>


<div class="footer">
  <p>Built with <span class="glyphicon glyphicon-heart"></span> by <a href="http://www.onegeek.com.au">Matt Fellows</a></p>
</div>

<!--<div>-->
    <!--<p>Please note: </p>-->
<!--</div>-->